
<ion-header>
  <ion-toolbar>
    
    <ion-title>
      <ion-icon name="paw"></ion-icon>
      Pokemons
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="list" *ngIf="pokemons.length">
    <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-card>
  </div>

  <app-pokemon-card-empty *ngIf="!pokemons.length"></app-pokemon-card-empty>
  
  <ion-infinite-scroll (ionInfinite)="load($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
