<div class="pokemon-card"  (click)="openModal(pokemonData)">

    <ng-container *ngIf="!loading">

        <div class="picture">
            <img [src]="pokemonData.sprites.other.dream_world.front_default" >
        </div>
        
        <div class="footer">

            <div class="item">
                <ion-icon name="paw"></ion-icon>
                <p>{{ pokemonData.name }}</p>
            </div>

        </div>

        <div class="favorite-icon" (click)="favorite(pokemon); $event.stopImmediatePropagation()">
            <ion-icon name="heart-outline" *ngIf="!isFavorite"></ion-icon>
            <ion-icon name="heart" class="favorite" *ngIf="isFavorite"></ion-icon>
        </div> 
        
    </ng-container>

</div>